body{
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

main{
  width: 70%;
  display: grid;
  grid-template-rows: 70px 150px 300px;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  border: 2px solid red;
}

.search{
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
}

.search input{
  border: 2px solid red;
}

.search div{
  border: 2px solid red;
}

.wallet{
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  border: 2px solid red;
}

.wallet div:nth-child(1){
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid red;
}

.wallet .tarjetas{
  width: 400px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
}

.tarjetas div:nth-child(1), .tarjetas div:nth-child(2){
  width: 100px;
  height: 100px;
  border: 2px solid red;
}

.stats{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 5px;
  border: 2px solid red;
}

.stats div:nth-child(1){
  border: 2px solid red;
}

.stats div:nth-child(2){
  border: 2px solid red;
}




















/* body{
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

nav{
  display: flex;
  height: 80px;
  border-bottom: 1px solid #444;
  color: #6e6d7a;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 80px;
  height: 30px;
  padding: 10px;
}

.logo img{
  width: 100%;
}

.menu-left{
  display: flex;
}

.left ol{
  display: flex;
}

.left ol li:nth-child(2){
  border-right: 1px solid #444;
}

.left ol li{
  padding: 0px 10px;
  list-style: none;
}

.menu-right{
  display: flex;
}

.right{
  display: flex;
}

.right img{
  width: 20px;
  height: 20px;
  padding: 12px;
}

.right p{
  padding: 0px 10px;
}

.sup{
  background-color: #ea4c89;
  margin-right: 10px;
  border: 1px solid #333;
  border-radius: 10px;
  height: 40px;
  padding: 10px;
}

.adobe{
  display: flex;
  justify-content: center;
}

.adobe-promo{
  display: grid;
  grid-template-columns: 150px 350px 100px;
  align-content: center;
  grid-template-areas: "a-img a-description a-button";
  margin: 40px 0px;
}

.adobe-img{
  grid-area: a-img;
  width: 130px;
  height: 30px;
}

.adobe-img img{
  width: 100%;
}

.adobe-description{
  grid-area: a-description;
  display: flex;
  flex-direction: column;
}

.adobe-description span:nth-child(1){
  color: #000;
  font-size: 13px;
}

.adobe-description span:nth-child(2){
  color: #6e6d7a;
  font-size: 11px;
}

.adobe-button{
  grid-area: a-button;
  padding: 10px;
  background-color: #f3f3f4;
  border: none;
  border-radius: 5px;
} */
