body{
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

main{
  width: 70%;
  display: grid;
  grid-template-rows: 60px 190px 300px;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid red;
}

.search{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid red;
}

.search-bar, .date{
  background-color: #fafafa;
  border-radius: 10px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  color: #9490af;
}

.search-bar input{
  border: none;
  background-color: #fafafa;
}

.search-bar img{
  width: 20px;
  margin-right: 5px;
}

.wallet{
  display: grid;
  /* grid-auto-rows: 1fr; */
  grid-template-columns: 25% 75%;
  grid-gap: 5px;
  /* padding: 10px; */
  border-radius: 20px;
  background-color: #f8faff;
  margin: 10px;
  align-items: center;
  border: 2px solid red;
}

.numbers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
}

.numbers h1, .numbers h3{
  margin: 5px 0px 10px 0px;
}

.numbers h1{
  color: #281f58;
}

.numbers h3{
  color: #9490af;
}

.numbers .cuadritos{
  display: flex;
}

.numbers .cuadritos div:nth-child(1){
  margin-right: 15px;
}

.numbers .cuadrito{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  font-size: 12px;
  width: 60px;
  padding: 5px 0px;
  border: 2px solid red;
}

.cuadrito span:nth-child(1){
  color: #281f58;
}

.cuadrito span:nth-child(2){
  font-size: 10px;
  color: #9490af;
}

.wallet .tarjetas{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
}

.tarjetas div:nth-child(2){
  width: 100px;
  height: 100px;
  border: 2px solid red;
}

.tarjetas div:nth-child(1){
  background-color: #293366;
  width: 180px;
  height: 120px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetas div:nth-child(2){
  width: 180px;
  height: 120px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #9490af;
  color: #281f58;
}

.stats{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 5px;
  border: 2px solid red;
}

.graph{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.graph img{
  width: 80%;
  height: 210px;
}

.graph .graph-text{
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #281f58;
}

.stats div:nth-child(2){
  border: 2px solid red;
}

.list{
  padding: 5%;
}

.list span{
  color: #281f58;
}

.expense{
  display: flex;
}

.text-expense{
  display: flex;
  flex-direction: column;
}

.span-expense{

}




















/* body{
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

nav{
  display: flex;
  height: 80px;
  border-bottom: 1px solid #444;
  color: #6e6d7a;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 80px;
  height: 30px;
  padding: 10px;
}

.logo img{
  width: 100%;
}

.menu-left{
  display: flex;
}

.left ol{
  display: flex;
}

.left ol li:nth-child(2){
  border-right: 1px solid #444;
}

.left ol li{
  padding: 0px 10px;
  list-style: none;
}

.menu-right{
  display: flex;
}

.right{
  display: flex;
}

.right img{
  width: 20px;
  height: 20px;
  padding: 12px;
}

.right p{
  padding: 0px 10px;
}

.sup{
  background-color: #ea4c89;
  margin-right: 10px;
  border: 1px solid #333;
  border-radius: 10px;
  height: 40px;
  padding: 10px;
}

.adobe{
  display: flex;
  justify-content: center;
}

.adobe-promo{
  display: grid;
  grid-template-columns: 150px 350px 100px;
  align-content: center;
  grid-template-areas: "a-img a-description a-button";
  margin: 40px 0px;
}

.adobe-img{
  grid-area: a-img;
  width: 130px;
  height: 30px;
}

.adobe-img img{
  width: 100%;
}

.adobe-description{
  grid-area: a-description;
  display: flex;
  flex-direction: column;
}

.adobe-description span:nth-child(1){
  color: #000;
  font-size: 13px;
}

.adobe-description span:nth-child(2){
  color: #6e6d7a;
  font-size: 11px;
}

.adobe-button{
  grid-area: a-button;
  padding: 10px;
  background-color: #f3f3f4;
  border: none;
  border-radius: 5px;
} */
